/* Using max-content and min-content and minmax() on rows and columns */

* {
  margin: 0;
  padding: 0;
}

.item {
  padding: 0.2rem;
  background-color: red;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: sans-serif;
}

.grid {
  width: 60%;
  margin: 0 auto;

  display: grid;

  /* grid-template-rows: repeat(2, min-content);
  grid-template-columns: 1fr 1fr 1fr min-content; */

  /* sets min width to 200 and max with to 500 */
  /* grid-template-rows: repeat(2, 150px);
  grid-template-columns: minmax(200px, 500px) 1fr 1fr 1fr; */

  /* set the minimum height to 100px but allow to grow with min-content if text-height
  if the content is longer than 100px; */
  /* grid-template-rows: repeat(2, minmax(100px, min-content));
  grid-template-columns: 1fr 1fr 1fr 1fr; */

  /* grid-template-rows: repeat(2, 150px);
  grid-template-columns: 1fr 1fr 1fr 1fr; */
}

.item--1 {
  background-color: orangered;
}
.item--2 {
  background-color: yellowgreen;
}

.item--3 {
  background-color: blueviolet;
}

.item--4 {
  background-color: palevioletred;
}

.item--5 {
  background-color: royalblue;
}

.item--6 {
  background-color: goldenrod;
}

.item--7 {
  background-color: crimson;
}

.item--8 {
  background-color: darkslategray;
}
