{% extends "base.html" %}

{% block content %}
  {% for post in object_list  %}
    <p>Title: {{ post.title }}</p>
    <p>Content: {{ post.content|truncatewords:9 }}</p>
    <p><span><a href="{{ post.get_details_url }}">Show More</a></span></p>
    <hr>
  {% empty %}
    <p>There are no posts to show</p>
  {% endfor %}


  {% if is_paginated %}
    {% if page_obj.has_previous %}
      <p><a href="?page={{ page_obj.previous_page_number }}">PREV </a></p>
    {% endif %}
    
    {% if page_obj.has_next %}
      <p><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT</a></p>
    {% endif %}
{% endif %}

{% endblock content %}